plugins {
    id 'nf-azure'
}

params {
    storage_name = null
    storage_key  = null
    batch_name   = null
    batch_key    = null
    
    // Change this parameter to demonstrate the bug:
    // 'node' (default) = FAILS - semicolon commands not parsed
    // 'task' = WORKS - bypasses the problematic command concatenation
    copyToolInstallMode = 'node'
}

process {
    executor = "azurebatch"
    queue = 'starttask_test_pool'
    container = 'ubuntu:22.04'
}

azure {
    storage {
        accountName = params.storage_name
        accountKey  = params.storage_key
    }

    batch {
        location                = "eastus"
        accountName             = params.batch_name
        accountKey              = params.batch_key
        autoPoolMode            = false
        allowPoolCreation       = true
        deletePoolsOnCompletion = true
        copyToolInstallMode     = params.copyToolInstallMode
        
        pools {
            starttask_test_pool {
                startTask {
                    script = "touch \$AZ_BATCH_NODE_SHARED_DIR/startTask_executed.txt"
                }
                vmType = 'Standard_A1_v2'
                vmCount = 1
            }
        }
    }
}